.backgroundimg{
    width: 1500px;
    height: 500px;
    padding-top: 0px;
    
}
.kitchenimg{
    width : 1000px;
    height: 500px;
    padding-left : 200px;
    padding-top: 20px;
    border-radius: 30px;
}
.burgerimg{
    width : 100px;
    height : 100px;
}